page-reminder {
	.bg-image{
		background-color:#09182f;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}.item-inner{
		border-bottom: none !important;
		box-shadow: none !important;
	}
}
