<ion-content padding class="bg-image" scroll="false" *ngIf="showLogin">
	<ion-grid>
		<ion-row>
			<ion-col col-4></ion-col>
			<ion-col col-4 style = "margin-left:auto; margin-right: auto; display: block;"><img src="assets/imgs/loginlogo.jpg" style="width: 100%; height: auto; border-radius: 100%"></ion-col>
			<ion-col col-4></ion-col>
		</ion-row>
	</ion-grid>
    <form  [formGroup] = "formdata" (ngSubmit)="SignIn()">
  <ion-list>

  <ion-item class="bg-image">
    <ion-label class="home__custome-label"floating>Email</ion-label>
    <ion-input  type="email" class="home__custome-input" formControlName="username" ></ion-input>
  </ion-item>

  <ion-item class="bg-image">
    <ion-label class="home__custome-label" floating>Password</ion-label>
    <ion-input  class="home__custome-input" type="{{type}}"  formControlName="password">
    </ion-input>
		<ion-icon  class="home__eye-icon" item-content *ngIf="!showPass"  item-right name="eye" style="font-size:32px; color: #424242;" (click)="showPassword()"></ion-icon>
		<ion-icon class="home__eye-icon" item-content *ngIf="showPass" item-right name="eye-off" style="font-size:32px; color: #424242;" (click)="showPassword()"></ion-icon>
  </ion-item>

  <ion-item style="display:none;"></ion-item>
</ion-list>

	<div class="home__item-list">
			<button text-center style=" margin-top: 36px; color: white; background-color: #ff3334; border-radius: 20px;     text-transform: capitalize;" ion-button type="submit" block >Sign In</button>
	</div>
</form>

<div class="home__item-list">

          <button class="home__btnfb" padding ion-button icon-right (click)="login()">
    			  Login with <ion-icon name="logo-facebook"></ion-icon>
    			</button>

			<div  class="home__forgot-pwd" >
				<span (click)="Forget();">Forgot Password ?</span>
			</div>
			<div class="home__sign-up" >
				<span class="home__sign-up_label" > Don't have an account ?</span>
				<span class="home__sign-up_sign-up" (click)="Register();"> SignUp </span>
			</div>
	</div>
</ion-content>
